/***********************************************
* common
************************************************/

body {
	background-color: #020661;
	background-repeat: repeat-x;
	padding: 0px;
	margin: 0px 0px 15px 0px; }
	
div#main-frame {
	margin-left: auto;
	margin-right: auto;
	width: 900px; }

body, input, select, textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt; }

h1 {
	font-size: 14pt;
	font-weight: normal;
	margin: 0px;
	padding: 15px 0px 0px 0px;
	border-bottom: 0px solid #3E508B; }
	
h2 {	
	font-weight: normal;
	margin: 15px 10px 0px 0px;
	font-size: 12pt;
	border-bottom: 1px solid #000000; }

h3 {
	font-size: 8pt;
	padding: 0px 0px 0px 0px;
	padding: 0px 0px 2px 0px;
	margin: 15px 10px 0px 0px;
	border-bottom: 1px solid #3E508B; }

a {
	color: #3E508B; }
	
p {
	line-height: 140%;
	margin: 0px;
	padding-left: 0px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px; }

ul,
ol {
	line-height: 140%;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 25px;
	margin: 0px; }
	
ul ul,
ol ol,
ul ol,
ol ul {
	padding-top: 0px; }

ul.extra-spacing li,
ol.extra-spacing li {
	padding-bottom: 10px; }

/***********************************************
* header
************************************************/

div#header {
	background-position: right top;
	background-repeat: no-repeat;
	height: 132px; }

table#header-logos {
	width: 100%; }
	
td#header-physics {
	text-align: left; }
	
td#header-emory {
	padding-right: 5px;
	text-align: right; }
	
div#header-links {
	text-align: right;
	padding: 5px 0px 6px 15px;
	color: White; }

div#header-links a {
	text-decoration: none;
	color: White; }

div#header-links a:hover {
	text-decoration: none;
	color: #3E508B; }

/***********************************************
* body
************************************************/

table#body-container {
	}
	
td#menu-pane {
	background-color: #CCCCBB;
	background-color: #EEEEDD;
	background-color: #6d608b;
	width: 210px;
	vertical-align: top; }

td#content-pane {
	background-color: White;
	vertical-align: top; }
	
div#content-container {
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	width: 680px; }


/***********************************************
* menu
************************************************/

div#main-menu-container {
	margin-top: 0px;
	font-size: 10pt;
	color: white;}

div#main-menu-container ul,
div#main-menu-container li {
	line-height: normal;
	list-style-type: none;
	padding: 0px;
	margin: 0px; }
	

div#main-menu-container li ul {
	margin: 0px 10px 10px 10px; }

div#main-menu-container li div.main-menu-title {
	font-weight: bold;
	padding: 10px 0px 5px 10px; }

div#main-menu-container li div.main-menu-title a {
	font-weight: bold;
	font-style: normal;
 }

div#main-menu-container li li div.main-menu-title {
	margin-top: 3px;
	font-weight: bold; }	


div#main-menu-container a {
	padding: 0px 0px 0px 0px;
	display: block;
	text-decoration: none;
	color: Black; }

div#main-menu-container div.main-menu-title-leaf a {
padding: 3px 0px 3px 20px;
color: white;
  }

div#main-menu-container div.main-menu-title-leaf a:hover {
color: black;
  }
	
div#main-menu-container div.main-menu-title-link a {
padding: 12px 0px 12px 10px;
	font-weight: bold;
	font-style: normal;
	color: white;
  }

div#main-menu-container a:hover {
	background-color: #DDEEFF;
}

div#main-menu-container div.main-menu-title-link a:hover {
	color: black;
  }


/***********************************************
* search
************************************************/

div#main-menu-search {
	padding: 10px;
	background-color: White;
	margin: 10px; }
	
div#main-menu-search-label {
	margin-bottom: 5px; }

td#main-menu-search-input {
	padding-right: 5px; }

td#main-menu-search-input input {
	margin-left: 10px;
	width: 100px; }

/***********************************************
* address
************************************************/

div#main-menu-address-frame {
	width: 150px;
	overflow: hidden;
	margin: 10px;
	padding-top: 20px;
	color: white;
	}
	
div#main-menu-address-label {
	font-weight: bold; }
	
div#main-menu-address {
	}

div#main-menu-address a {
	color: white;
	}


/***********************************************
* common elements
************************************************/

div.navigation-bar {
	border-top: 1px dotted #CCCCCC;
	border-bottom: 1px dotted #CCCCCC;
	background-color: #EEEEEE;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px; }
